.accordion {
    outline: none;
    border: none;
    width: 100%;
    padding: 1rem;
    margin: .1rem;
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;
}

.accordion:hover,
.active {
    background-color: rgb(143, 138, 138);
}

.accordion::after {
    content: '+';
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}

.active::after {
    content: '-';
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}


/* slide dowm*/

.content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
}

.active~.content {
    overflow: hidden;
    transition: .5s ease-in-out;
}


/*normal*/


/* .content {
    padding: 1rem;
    display: none;
} */