html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(60, auto);
    justify-content: center;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #acacac;
}